<!DOCTYPE html>
<html>

<head>
	<title>Weaviate Search Results</title>
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.header {
			display: flex;
			align-items: flex-start;
			padding: 10px;
		}

		.logo {
			width: 15%;
			max-width: 150px;
			height: auto;
			margin-right: 20px;
		}

		.container {
			margin: 0 auto;
			max-width: 800px;
			padding: 20px;
		}

		.search-box {
			position: fixed;
			top: 10px;
			right: 10px;
			z-index: 1;
			background-color: #eee;
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		}

		.search-box form {
			display: flex;
			align-items: center;
		}

		.search-box input[type="text"] {
			margin-right: 10px;
		}

		.results {
			margin-top: 50px;
		}

		.result {
			margin-bottom: 20px;
			padding: 10px;
			padding-bottom: 0px;
			background-color: #eee;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			word-wrap: break-word;
		}

		.result h2 {
			margin-top: 0;
		}

		.result a {
			color: #333;
			text-decoration: none;
		}

		.download-link {
			font-size: 14px;
			text-align: right;
			margin-top: 10px;
			margin-bottom: 0px;
			padding-bottom: 0px;
			word-wrap: break-word;
		}

		.editor {
			position: relative;
			height: 300px;
			width: 100%;
		}

		.save-button {
			margin-top: 10px;
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 5px;
		}


		.task-manager-link {
			background-color: #4CAF50;
			color: white;
			padding: 10px 20px;
			text-decoration: none;
			border-radius: 5px;
			font-size: 18px;
			margin-left: 20px;
		}

		.task-manager-link:hover {
			background-color: #45a049;
		}
	</style>
	<script>
		const editors = {};

		function saveEditorContent(index, id) {
			const editorContent = editors[index].getValue();
			console.log(editorContent);
			const request = new Request('/save', {
				method: 'POST',
				body: JSON.stringify({ id: id, content: editorContent }),
				headers: new Headers({
					'Content-Type': 'application/json'
				})
			});
			fetch(request);
		}

		function rebuildPackage(pkg) {
			const request = new Request('/rebuild?package=' + pkg, {
				method: 'POST',
				body: JSON.stringify({ package: pkg }),
				headers: new Headers({
					'Content-Type': 'application/json'
				})
			});
			fetch(request);
		}

		function addDocumentation(index, id) {
			const editorContent = editors[index].getValue();
			console.log(editorContent);
			const request = new Request('/addDocumentation', {
				method: 'POST',
				body: JSON.stringify({ id: id, content: editorContent }),
				headers: new Headers({
					'Content-Type': 'application/json'
				})
			});
			var ret_promise = fetch(request);
			ret_promise.then(function (response) {
				return response.json();
			}).then(function (json) {
				console.log("Updated data:")
				console.log(json);
				console.log(json.content);
				editors[index].setValue(json.content, 1);
			});
		}
	</script>
	<script src="/static/static/ace/ace.js"></script>
	<script src="/static/static/ace/ext-language_tools.js"></script>
	<script src="/static/static/ace/ext-inline_autocomplete.js"></script>
</head>

<body>
	<div class="header">
		<img src="/static/static/logo.png" alt="Weaviate Logo" class="logo">
		<a href="/task-manager" class="task-manager-link">Import</a>
		<button onclick="rebuildIndex()" class="task-manager-link">Rebuild Index</button>
	</div>

	<script>
		function rebuildIndex() {
			fetch('/rebuild-index', {
				method: 'POST'
			})
				.then(function (response) {
					if (response.ok) {
						alert('Index rebuild started');
					} else {
						alert('Error starting rebuild');
					}
				})
				.catch(function (error) {
					console.error('Error:', error);
					alert('Error starting rebuild');
				});
		}
	</script>
	<div class="search-box">
		<form method="GET" action="/search">
			<button type="submit">Search</button>
			<input type="text" id="search-input" name="q" value="{{ .Query }}">
			<select name="type" id="search-type">
				<option value="ball">Ball Tree</option>
				<option value="grid">Grid</option>
				<option value="kv">KV Index</option>
				<option value="weaviate">Weaviate</option>
			</select>
		</form>
	</div>

	<div class="container">
		{{ if .Results }}
		<h1>Search Results for "{{ .Query }}" </h1>
		<div class="results">
			{{ range .Results }}
			<div class="result">
				<h2>
					{{ if hasPrefix .URL "file://" }}
					<a href="/display?id={{ .DocId }}" target="_blank">{{ .Title }}</a>
					{{ else }}
					<a href="{{ .URL }}" target="_blank">{{ .Title }}</a>
					{{ end }}
				</h2>
				<p><a href="/results?id={{ .DocId }}" target="_blank">{{ .Text }}</a></p>
				<p class="download-link">
					Class: {{ .Class }} |
					<a href="/display?id={{ .DocId }}" target="_blank">View cached</a> |
					<a href="/downloadobject?id={{ .DocId }}" target="_blank">Download cached</a> |
					<a href="/results?id={{ .DocId }}" target="_blank">View Record</a>
				</p>
				{{ if eq .Class "Code" }}
				<div class="editor" id="editor{{ .DocId }}"></div>
				<script>
					ace.require("ace/ext/language_tools");
					ace.require("ace/ext/inline_autocomplete");
					editors['{{ .DocId }}'] = ace.edit("editor{{ .DocId }}");
					editors['{{ .DocId }}'].setTheme("ace/theme/monokai");
					editors['{{ .DocId }}'].session.setMode("ace/mode/html");
					editors['{{ .DocId }}'].setValue("{{ .FullText | js }}", 1);
					editors['{{ .DocId }}'].session.setMode("ace/mode/golang");
					editors['{{ .DocId }}'].setOption("enableBasicAutocompletion", true);
					editors['{{ .DocId }}'].setOption("enableLiveAutocompletion", true);

					var rhymeCompleter = {
						getCompletions: (editor, session, pos, prefix, callback) => {
							if (prefix.length === 0) {
								callback(null, []);
								return;
							}

							let text_to_cursor = session.getTextRange({
								start: {
									row: pos.row,
									column: 0
								},
								end: pos
							});

							fetch('/autocomplete?prefix=' + encodeURIComponent(text_to_cursor))
								.then(response => {
									if (response.ok) {
										return response.json();
									} else {
										throw new Error('Network error');
									}
								})
								.then(wordList => {
									callback(null, wordList.map(function (word) {
										return {
											caption: word,
											value: word,
											meta: "remote"
										};
									}));
								})
								.catch(error => {
									console.error('Error fetching autocomplete data:', error);
									callback(null, []);
								});
						}
					}

					editors['{{ .DocId }}'].completers = [rhymeCompleter];
				</script>
				<button class="save-button" onclick="saveEditorContent('{{ .DocId }}', '{{ .DocId }}')">Save to
					Weaviate</button>
				<button class="save-button" onclick="rebuildPackage('{{ .Package }}')">Rebuild {{ .Package }}
					files</button>
				{{ end }}
			</div>
			{{ end }}
		</div>
		{{ else }}
		<h1>No Results Found for "{{ .Query }}"</h1>
		{{ end }}
	</div>
</body>

</html>